@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --font-title: 'Russo One', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --bg-color: #e4e5e6;
  --light-white: #f5f3f3;
  --light-violet: #5C6AED;
  --light-violet-hover: #737fec;
  --padding: 1rem;
  --green: #4bc04b;
  --light-green: #4bc04bc7;
  --red: #c74040;
  --light-red: #c74040c7;
  --grey: #979595;
  --light-grey: #979595c2;
  --shadow: 2px 5px 7px #0000004d;
}

* {
  font-family: var(--font-body);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin-bottom: 100px;
}

html {
  position: relative;
  min-height: 100%;
}

.header {
  padding: 1rem min(5rem, 2vw);
  background-color: var(--light-violet);
  box-shadow: var(--shadow);
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  padding: 0 var(--padding);
}

.header .title {
  font-family: var(--font-title);
  font-size: 3.5rem;
  text-shadow: var(--shadow);
}

.buttons-container button {
  border-radius: 10px;
  padding: .5rem 1.3rem;
  font-weight: bold;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--light-violet);
  transition:  all .2s;

}

.buttons-container button:hover {
  background-color: #f7f2f2d7;
}

.button {
   box-shadow: var(--shadow);
}

.button:active {
  box-shadow: inset var(--shadow);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  max-width: 1300px;
  margin: auto;
  padding:  2rem var(--padding);
  color: rgb(32, 32, 32);
  gap: 30px;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: var(--padding);
  height: fit-content;
  box-shadow: var(--shadow);
  background-color: var(--light-white);
}

.book-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.book-author {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.card-container button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: .5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.card-container button.read {
  background-color: var(--green);
}

.card-container button.not-read {
  background-color: var(--red);
}

.card-container button.remove {
  background-color: var(--grey);
}

.card-container button.remove:hover {
  background-color: var(--light-grey);
}

.card-container button.read:hover {
  background-color: var(--light-green);
}

.card-container button.not-read:hover {
  background-color: var(--light-red);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  gap: 5px;
  font-size: 1.2rem;
  padding: 5px;
  color: rgb(63, 60, 60);
}

.footer a {
  font-style: italic;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.adding-book {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.342);
  animation: showUp .8s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-white);
  width: min(90vw, 350px);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 1rem;
  gap: 10px;
}

.form-row {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form-row label {
   font-size: 1.2rem;
   color: rgb(39, 39, 39);
   margin-bottom: .5rem;
}

.form-container input {
  border: 1px solid rgba(0, 0, 0, 0.753);
  border-radius: 5px;
  outline: none;
  padding: .5rem;
  background-color: transparent;
  font-size: 1.2rem;
}

.form-container input:focus {
  border: 1px solid var(--light-violet);
}

.check-container {
  display: flex;
  padding: 1rem 0;
  gap: 10px;
}

.check-container input[type='checkbook'] {
  width: 30px;
}

.form-row button {
  align-self: center;
  border-radius: 10px;
  border: 1px solid var(--light-violet);
  padding: .5rem;
  width: 50%;
  background-color: var(--light-violet);
  font-size: 1.2rem;
  color: white;
  word-wrap: break-word;
}

.form-row button:hover {
  background-color: var(--light-violet-hover);
}

.error {
  font-size: .95rem;
  background-color: #eaeaeaea;
  color: var(--light-red);
  border-radius: 0 0 .3rem .3rem;
}

.active {
  padding: .4rem;
  margin-bottom: 1rem;
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 1191px) {
  .cards {
    grid-template-columns: repeat(2, minmax(300px, 1fr))
  }
}

@media screen and (max-width: 891px) {
  .header-content button {
    font-size: min(1rem, 5vw);
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
   .header-content {
    flex-direction: column;
    gap: 30px;
  }
  .buttons-container button {
    padding: .2rem 1rem;
  }
}